


#ul1 { list-style-type:none;
list-style-image:url(R.gif);}

#para1 { text-align:
    center;
    color: rgb(36, 205, 162);
    border-width:inset;
    }


    p.formatacao1
{
 color:#000001;
 border-color:#000000;
 border:thin;
 letter-spacing: 3px;
 word-spacing: 1cm;


}

p.formatacao2
{
 color:#0099FF;
 border-color:#000000;
 border:thin;
 background-color: #000000;
 text-align: left;
}

h5,h4  {
    color:rgb(213, 16, 52);
     border-left: 2px solid orange;
}